<div id="overLay">
    <div id="wizardLayout">
        <div id="wizardContent">
            <div class="innerOverLay">
                <div class="closeInnerOverLay"></div>
                <div class="innerOverlayContent">
                    <div class="crudForm" id="teamCrudForm">
                        <div class="messageBox" id="messageBoxTeamCrud"></div>
                    </div>
                    <div class="crudForm" id="personnelCrudForm">
                        <div class="messageBox" id="messageBoxPersonnelCrud"></div>
                    </div>
                    <div class="crudForm" id="studentGroupCrudForm">
                        <div class="messageBox" id="messageBoxStudentGroupCrud"></div>
                    </div>
                    <div class="crudForm" id="auxiliaryAssignmentCrudForm">
                        <div class="messageBox" id="messageBoxAuxiliaryAssignmentCrud"></div>
                    </div>
                </div>
            </div>

            <div id="wizardBoxHeader">
                <div id="counter">
                    <p id="counterHeader">Arbetslag</p>
                    <p id="counterInfo"></p>
                </div>
                <div id="wizardBoxItemDesc">
                    <div id="teamCrudDesc">
                        <h3>Hantera arbetslag</h3>
                        <p>Knappen till höger för att lägga till ny.</p>
                    </div>
                    <div id="personnelCrudDesc">
                        <h3>Hantera personal</h3>
                        <p>Knappen till höger för att lägga till ny.</p>
                    </div>
                    <div id="studentGroupCrudDesc">
                        <h3>Hantera klasser</h3>
                        <p>Knappen till höger för att lägga till ny.</p>
                    </div>
                    <div id="auxiliaryAssignmentCrudDesc">
                        <h3>Hantera uppdrag</h3>
                        <p>Knappen till höger för att lägga till ny.</p>
                    </div>
                </div>
                <div id="addButton"></div>
            </div>

            <div id="teamCrud" class="wizardDataBox">
                <table>
                    <tr>
                        <td>Arbetslagsbenämning</td>
                        <td>Redigering</td>
                    </tr>
                </table>
            </div>

            <div id="personnelCrud" class="wizardDataBox">
                <table>
                    <tr>
                        <td>Arbetslag</td>
                        <td>Förnamn</td>
                        <td>Efternamn</td>
                        <td>Signatur</td>
                        <td>Redigering</td>
                    </tr>
                </table>
            </div>

            <div id="studentGroupCrud" class="wizardDataBox">
                <table>
                    <tr>
                        <td>Arbetslag</td>
                        <td>Klassnamn</td>
                        <td>Startår</td>
                        <td>Redigering</td>
                    </tr>
                </table>
            </div>

            <div id="auxiliaryAssignmentCrud" class="wizardDataBox">
                <table>
                    <tr>
                        <td>Benämning</td>
                        <td>Omfattning</td>
                        <td>Tilldelat</td>
                        <td>Redigering</td>
                    </tr>
                </table>
            </div>
        </div>
        <nav>
            <div id="teamCrudOpen" class="wizActive">Arbetslag</div>
            <div id="personnelCrudOpen">Personal</div>
            <div id="studentGroupCrudOpen">Klasser</div>
            <div id="auxiliaryAssignmentCrudOpen">Uppdrag</div>
            <div id="exitWizard">Klar</div>
        </nav>
    </div>
</div>
<div id="removeOverLay">
    <div id="removeContent">
        <p>Är du säker på att du vill ta bort?</p>
        <button id="removeConfirmation" data-action="" data-id="">Bekräfta</button>
        <button id="removeAborted">Avbryt</button>
    </div>
</div>
@section scripts{
    @*link to scripts*@
    <script src="~/js/WizardScript.js"></script>
}