<h2>Mr. Oizo</h2>

<div id="teamCrud"></div>

<div id="personnelCrud"></div>

<div id="studentGroupCrud"></div>
@section scripts{
    @*link to scripts*@
    <script src="~/js/WizardScript.js"></script>
}