<h2>Assignment</h2>

<div id="assignStudentGroupsToClassDiv"></div>

<div id="assignClassesToStudentGroupDiv"></div>


@section scripts{
    @*link to scripts*@
    <script src="~/js/WizardScript.js"></script>
    <script src="~/js/ClassAssignment.js"></script>
}
