<h2>Assignment</h2>

<div id="assignStudentGroupsToClassDiv"></div>

<div id="assignClassesToStudentGroupDiv"></div>

<input type="hidden" id="hiddenClassId"></input>
@section scripts{
    @*link to scripts*@
    <script src="~/js/ClassAssignment.js"></script>
}