<h2>Assignment</h2>

<div id="assignStudentGroupToClassDiv"></div>

<div id="assignClassToStudentGroupDiv"></div>

@section scripts{
    @*link to scripts*@
    <script src="~/js/ClassAssignment.js"></script>
}