@{ 
    ViewBag.Title = "Home";
}

<section>
    <article>
        <h1>Hello World!</h1>
    
        <div id="allClasses">
            @*append classDivs here with id="class"+classId*@

        </div>
        <div id="overlayAssignClasses"></div>
    </article>

</section>