<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PageTitle - @ViewBag.Title</title>
</head>
<body>
    <div id="layout">
        <header>
            <div id="innerHeader">
                <div id="hamburgerBtn">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav>
                    <a asp-action="Index">Home</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                    <div class="wizard" style="display: inline-block;"></div>
                </nav>
            </div>
        </header>
        <main>
            <section>
                @RenderBody()
            </section>
        </main>
        <footer>
            <div id="innerFooter">
                <p>&copy; 2017</p>
            </div>
        </footer>
    </div>

    <link href="~/css/layout.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/media.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/inputsAndButtons.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/wizard.css" property="stylesheet" rel="stylesheet" />
    @RenderSection("styles", false)
    <environment names="Development">
        <script src="~/js/jquery-3.1.0.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/jquery-ui.js"></script>

    </environment>
    <environment names="Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
    </environment>
    <script src="~/js/Data.js"></script>
    <script src="~/js/myScripts.js"></script>
    @RenderSection("scripts", false)
</body>
</html>