<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tjänstefördelning</title>
</head>
<body>
    <div id="mainOverLay">
        <div id="mainOverLayBox">
            <div id="mainOverLayContent">
                <div id="closeMainOverLay"></div>
                <p>hej</p>
            </div>
        </div>
    </div>

    <div id="layout">
        <header>
            <div id="logo">
                <p>Grupp 5</p>
            </div>
            <nav>
                <div class="navItem mainNavActive" id="navHome">
                    <img src="~/img/icons/home.svg" alt="Startsida" />
                    <p>Startsida</p>
                </div>
                <div class="navItem" id="navWizard">
                    <img src="~/img/icons/magic.svg" alt="Redigering" />
                    <p>Redigering</p>
                </div>
                <div class="navItem" id="navClass">
                    <img src="~/img/icons/included_class.svg" alt="Koppla kurser" />
                    <p>Koppla kurser</p>
                </div>
                <div class="navItem" id="navPersonnel">
                    <img src="~/img/icons/personnel.svg" alt="Koppla personal" />
                    <p>Koppla personal</p>
                </div>
                <div class="navItem" id="navBomb">
                    <img src="~/img/icons/the_bomb.svg" alt="The Bomb" />
                    <p>Drop it</p>
                </div>
            </nav>
            <div id="footer">
                &copy; 2017
            </div>
        </header>
        <main>
            <section>
                <div class="mainBoxItem" id="homeMainBox">
                    <div id="header">
                        <div id="headerContainer">
                            <h1>Tjänstefördelning</h1>
                            <h2 id="subHeadline">Det fördelaktiga verktyget</h2>
                        </div>
                    </div>
                    <div id="mainCounterBox">
                        <div id="mainCounterStats">
                            <p>Personal: <span>27</span></p>
                            <p>Klasser: <span>16</span></p>
                            <p>Kurser: <span>142</span></p>
                            <p>Uppdrag: <span>41</span></p>
                        </div>
                        <div id="mainCounter">
                            <p>Kurser att tilldela: <span>122</span></p>
                            <p>Tillgänglig personal: <span>455%</span></p>
                            <p>Tjänster att tilldela: <span>18</span></p>

                        </div>
                    </div>
                    <div id="homeFlexboxBox">
                        <div id="news">
                            <h3>Nyheter</h3>
                            <ul>
                                <li>
                                    <h4>Alexander har skaffat hatt!</h4>
                                    <p>Enligt rykten en vit fedora-hatt med svart band.</p>
                                    <a href="#">Läs mer</a>
                                </li>
                                <li>
                                    <h4>Nominerade till duglighetspriset</h4>
                                    <p>Vi kanske får pris för utomordentligt tillräcklig produkt.</p>
                                    <a href="#">Läs mer</a>
                                </li>
                                <li>
                                    <h4>En boll, ett nät och två raster..</h4>
                                    <p>Niklas och Mats startar Academy minipingisförening.</p>
                                    <a href="#">Läs mer</a>
                                </li>
                                <li>
                                    <h4>Pub quiz med Håkan</h4>
                                    <p>Håkan bjuder laget runt om något får full pott.</p>
                                    <a href="#">Läs mer</a>
                                </li>
                                <li>
                                    <h4>WarmKitten vs. Pattzor</h4>
                                    <p>while(<span style="color: #a7d7ff; font-weight: bold;">MFF</span>){ Console.WriteLine("Oki Doki"); }</p>
                                    <a href="#">Läs mer</a>
                                </li>
                            </ul>
                        </div>

                        <div id="help">
                            <div id="chatHeader">
                                <h3>Support</h3>
                                <p>Lämna meddelande till supporten här:</p>
                            </div>
                            <div id="chatBox">
                                <p class="chatTimeStamp">25 okt - 12:34</p>
                                <p><span class="userMessage">Du: </span>Hejsan, hur kopplar jag kurser?</p>
                                <p class="chatTimeStamp">24 dec - 15:00</p>
                                <p><span class="operatorMessage">David: </span>Du klickar på "Koppla kurser".</p>
                            </div>
                            <div id="chatForm">
                                <textarea placeholder="Skriv ditt meddelande här.."></textarea>
                                <button>Skicka</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OBS! Kom ihåg i JS att lägga limit på 24 tecken för kursnamn. Avsluta med .. om förkortat -->
			    <div id="classesMainBox" class="mainBoxItem" style="display: none;">
                   
                </div>
                
                @RenderBody()
                @* Wizardens html! *@
                <div id="overLay">
                    <div id="wizardLayout">
                        <div id="wizardContent">
                            <div class="innerOverLay">
                                <div class="closeInnerOverLay"></div>
                                <div class="innerOverlayContent">
                                    <div class="crudForm" id="teamCrudForm">
                                        <div class="messageBox" id="messageBoxTeamCrud"></div>
                                    </div>
                                    <div class="crudForm" id="personnelCrudForm">
                                        <div class="messageBox" id="messageBoxPersonnelCrud"></div>
                                    </div>
                                    <div class="crudForm" id="studentGroupCrudForm">
                                        <div class="messageBox" id="messageBoxStudentGroupCrud"></div>
                                    </div>
                                    <div class="crudForm" id="auxiliaryAssignmentCrudForm">
                                        <div class="messageBox" id="messageBoxAuxiliaryAssignmentCrud"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="wizardBoxHeader">
                                <div id="counter">
                                    <p id="counterHeader">Arbetslag</p>
                                    <p id="counterInfo"></p>
                                </div>
                                <div id="wizardBoxItemDesc">
                                    <div id="teamCrudDesc">
                                        <h3>Hantera arbetslag</h3>
                                        <p>Knappen till höger för att lägga till ny.</p>
                                    </div>
                                    <div id="personnelCrudDesc">
                                        <h3>Hantera personal</h3>
                                        <p>Knappen till höger för att lägga till ny.</p>
                                    </div>
                                    <div id="studentGroupCrudDesc">
                                        <h3>Hantera klasser</h3>
                                        <p>Knappen till höger för att lägga till ny.</p>
                                    </div>
                                    <div id="auxiliaryAssignmentCrudDesc">
                                        <h3>Hantera uppdrag</h3>
                                        <p>Knappen till höger för att lägga till ny.</p>
                                    </div>
                                </div>
                                <div id="addButton"></div>
                            </div>

                            <div id="teamCrud" class="wizardDataBox">
                                <table>
                                    <tr>
                                        <td>Arbetslagsbenämning</td>
                                        <td>Redigering</td>
                                    </tr>
                                </table>
                            </div>

                            <div id="personnelCrud" class="wizardDataBox">
                                <table>
                                    <tr>
                                        <td>Arbetslag</td>
                                        <td>Förnamn</td>
                                        <td>Efternamn</td>
                                        <td>Signatur</td>
                                        <td>Redigering</td>
                                    </tr>
                                </table>
                            </div>

                            <div id="studentGroupCrud" class="wizardDataBox">
                                <table>
                                    <tr>
                                        <td>Arbetslag</td>
                                        <td>Klassnamn</td>
                                        <td>Startår</td>
                                        <td>Redigering</td>
                                    </tr>
                                </table>
                            </div>

                            <div id="auxiliaryAssignmentCrud" class="wizardDataBox">
                                <table>
                                    <tr>
                                        <td>Benämning</td>
                                        <td>Omfattning</td>
                                        <td>Tilldelat</td>
                                        <td>Redigering</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <nav>
                            <div id="teamCrudOpen" class="wizActive">Arbetslag</div>
                            <div id="personnelCrudOpen">Personal</div>
                            <div id="studentGroupCrudOpen">Klasser</div>
                            <div id="auxiliaryAssignmentCrudOpen">Uppdrag</div>
                            <div id="exitWizard">Klar</div>
                        </nav>
                    </div>
                </div>
                <div id="removeOverLay">
                    <div id="removeContent">
                        <p>Är du säker på att du vill ta bort?</p>
                        <button id="removeConfirmation" data-action="" data-id="">Bekräfta</button>
                        <button id="removeAborted">Avbryt</button>
                    </div>
                </div>
                @* Wizardens html slut! *@
            </section>
        </main>
    </div>

    <link href="~/css/layout.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/inputsAndButtons.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/wizard.css" property="stylesheet" rel="stylesheet" />
    <link href="~/css/media.css" property="stylesheet" rel="stylesheet" />
    @RenderSection("styles", false)
    <environment names="Development">
        <script src="~/js/jquery-3.1.0.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/jquery-ui.js"></script>

    </environment>
    <environment names="Production">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
    </environment>
    <script src="~/js/Data.js"></script>
    <script src="~/js/myScripts.js"></script>
    <script src="~/js/WizardScript.js"></script>
    @RenderSection("scripts", false)
</body>
</html>