@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
body{
	position: relative;
}
ul{
    margin-left: 20px;
}
#layout{
    min-height: 100%;
    position: relative;
}
    header{
        background: #ccc;
    }
        #innerHeader {
            max-width: 748px;
            padding: 10px;
            margin: auto;
        } 
            #hamburgerBtn {
                display: none;
                width: 24px;
                height: 24px;
                padding: 3px;
                background: #666;
                border-radius: 3px;
                box-shadow: 1px 1px 0 #000;
            }
                #hamburgerBtn div {
                    height: 4px;
                    border-radius: 4px;
                    background: #FFF;
                    margin: 3px 0;
                }
            #hamburgerBtn:hover {
                cursor: pointer;
                box-shadow: inset 1px 1px 0 #000;
            }
            #innerHeader nav{
            }
                #innerHeader > nav > a{
                    text-decoration: none;
                }
                #innerHeader > nav > a:hover{
                    color: #F00;
                }
    main{
        max-width: 768px;
        margin: auto;
        background: #eee;
    }
        section{
        }
            article {
                padding: 10px;
            }
    footer{
        width: 100%;
        position: absolute;
            bottom: 0;
        background: #888;
    }
        #innerFooter {
            max-width: 748px;
            padding: 10px;
            margin: auto;
            color: #FFF;
            text-align: center;
            vertical-align: middle;
        }

/* Vad ska behållas av nedanstående??? */

#assignClassesToStudentGroupDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.classList {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}
.classToStudentGroup {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
#currentStudentGroup {
    text-align: center;
}

.assignClassDivs {
    /*background-color: yellow;*/
    max-width: 35%;
    min-width: 35%;
    min-height: 100px;
    margin-left: 10%;
    /*text-align: center;*/
}

#fullYearDiv {
    display: flex;
    flex-direction: row;

}

#containerDiv {
    display: flex;
    flex-direction: row;
}

#semestersDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*text-align: center;*/
}
#semestersDiv h2{
    text-align: center;
    color: forestgreen;
}
.classToStudentGroup {

    
}
.deleteAssignedClassButton {
    width: 30px;
    height: 30px;
    background-color: red;
}
/*
.competenceList, .studentGroupList {
    display: flex;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
}

.competence {
    height: 30px;
    position: relative;
    background-color: yellow;
    min-width: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.qualifiedCompetence, .groupToClass {
    height: 30px;
    position: relative;
    background-color: green;
    min-width: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
    .competence p, .qualifiedCompetence p, .groupToClass p {
        padding: 7px 16px 7px 7px;
    }

    .competence button, .qualifiedCompetence button, .groupToClass button {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: none;
    }
        .competence button:hover, .qualifiedCompetence button:hover, .groupToClass button:hover {
            background-color: darkseagreen;
        }
*/