/* Input styles */
.inputText, .inputTextAuto, .inputSelect{
	display: block;
	width: 50%;
	margin: 20px auto;
	box-shadow: 0 0 2px #888;
    padding: 6px 12px;
	border: 1px solid #000;
}
.inputText{
	
}
	.inputText:focus{
		border: 1px solid #0F0;
	}
.inputTextAuto{
	border: 1px solid #00F;
}
.inputSelect{
	/* Style using jQuery UI */
}
.checkbox{
	/* Not a checkbox - make two divs (1 background, 1 indicator) and use as slider */
}
.buttonSubmit{
	display: block;
	width: 25%;
	margin: auto;
	background: #bfffbf;
}
.buttonCancel{
	display: block;
	width: 25%;
	margin: auto;
	background: #ffcfbf;
}
/* END Input style */

/* Button style */
.add, .edit, .delete, .done {
    width: 30px;
    height: 30px;
    background-color: #CCC;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}
.add{
	background-image: url(../img/icons/add.svg);
}
.edit{
	background-image: url(../img/icons/edit.svg);
}
.delete{
	background-image: url(../img/icons/delete.svg);
}
.done{
	background-image: url(../img/icons/done.svg);
}
/* END Button style */

.competenceList {
    display: flex;
    width: 50%;
}

.competence {
    height: 30px;
    position: relative;
    background-color: tomato;
}
    .competence p {
        width: 90%;
    }
    .competence button {
        position: absolute;
            top: 0;
            right: 0;
        width: 5px;
        height: 5px;
    }