@{
    Layout = null;
}

@model UserLoginVM
<form asp-controller="User" asp-action="Login">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <hr />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <hr />
    <br />
    <input type="submit" value="Logga in"/>
</form>